/DerivedDataCache
/.idea
/.vs
.vsconfig
/Binaries
/Intermediate
/Plugins/AbilityEditorHelper/Binaries
/Plugins/AbilityEditorHelper/Intermediate
/Saved/Config/CrashReportClient
/Saved
/Plugins/AbilityEditorHelper/Content/Python/__pycache__
AbilityHelperSample.sln.DotSettings.user
